*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --icon-size: calc(var(--cell-size) * 0.90)
}

body {
    margin: 0;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child, 
.cell:nth-child(2), 
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:nth-child(7), 
.cell:nth-child(8), 
.cell:last-child {
    border-bottom: none;
}

.cell.x::before,
.cell.x::after {
    content: "";
    height: var(--icon-size);
    width: calc(var(--icon-size) *  0.1);
    background-color: black;
    position: absolute;
}

.cell.x::before {
    transform: rotate(45deg);
}

.cell.x::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after {
    content: "";
    height: calc(var(--icon-size) * 0.95);
    width: calc(var(--icon-size) * 0.95);
    background-color: black;
    position: absolute;
    border-radius: 50%;
}

.cell.circle::after {
    content: "";
    height: calc(var(--icon-size) * 0.75);
    width: calc(var(--icon-size)* 0.75);
    background-color: white;
    position: absolute;
    border-radius: 50%;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}