*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
}

body {
    margin: 0;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    border: 1px solid black;
}

.cell:first-child, 
.cell:nth-child(2), 
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:nth-child(7), 
.cell:nth-child(8), 
.cell:last-child {
    border-bottom: none;
}
