*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --icon-size: calc(var(--cell-size) * 0.90)
}

body {
    margin: 0;
}

/* Game board */
.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child, 
.cell:nth-child(2), 
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:nth-child(7), 
.cell:nth-child(8), 
.cell:last-child {
    border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: "";
    height: var(--icon-size);
    width: calc(var(--icon-size) *  0.1);
    background-color: black;
    position: absolute;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    background-color: rgb(151, 149, 149);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: "";
    height: calc(var(--icon-size) * 0.95);
    width: calc(var(--icon-size) * 0.95);
    background-color: black;
    position: absolute;
    border-radius: 50%;
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: "";
    height: calc(var(--icon-size) * 0.75);
    width: calc(var(--icon-size)* 0.75);
    background-color: white;
    position: absolute;
    border-radius: 50%;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: rgb(151, 149, 149);
}

/* Winning message */
.winner-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winner-message {
    font-size: 3.5rem;
    color: white;
}

.winner-screen button {
    font-size: 2.5rem;
    padding: 8px 16px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
}

.winner-screen button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.winner-screen.show {
    display: flex;
}